#header {
background-color: grey;
color: white;
text-align: center;
}
#left-side {
float: left;
margin-left: 20px;
margin-top: 20px;
}
#right-side {
background-color: green;
color: white;
float: right;
margin-right: 20px;
width: 275px;
height: 383px;
margin-top: 20px;
}
#footer {
position: absolute;
bottom: 1;
width: 1143px;
height: 60px;
background-color: black;
color: white;
margin-top: 420px;
margin-left: 95px;
margin-right: 95px;
text-align: center;
}
h3{
	opacity: 80%;
}